/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #247b74;
  --ifm-color-primary-dark: #206e68;
  --ifm-color-primary-darker: #196c66;
  --ifm-color-primary-darkest: #105955;
  --ifm-color-primary-light: #2d827a;
  --ifm-color-primary-lighter: #2d827a;
  --ifm-color-primary-lightest: #4f988f;
  --ifm-code-font-size: 95%;
}

body{
  font-weight: normal;
  font-family: 'courier new', monospace;
  font-size: 1vw;
}

:focus-visible{
  outline: 2px solid ifm-color-primary-darkest;
}

a {
  font-weight: bold;
  color: #406e68;
}


.logo{
  text-align: center;
}
.logo > img{
  max-width: 50%;
  max-height: 40%;
  margin: 40px auto 20px;
}
.section {
  width:90%;
  text-align: center;
  margin: auto;
}

.paintchip{
  min-height: 200px;
	font-size: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.paintchip > .colourcode {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  align-items: flex-end;
  text-align: right;
	font-size:0.8vw;
}
